@import "../../styles/import.scss";

.crew {
  margin-top: 3rem;
  @include flexCenter;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 100%;

  @include media("<=desktop") {
    flex-direction: column;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    min-height: 450px;

    .v-responsive__content {
      max-width: 400px !important;
      width: 100%;
    }
    .v-image {
      min-height: 300px;
      @include media("<=desktop") {
        max-width: 250px;
        margin: auto;
        max-height: 350px;
      }
    }
  }
  &__left {
    padding: 0 1.5rem;

    @include media("<=desktop") {
      width: 100%;
    }
  }
  .items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  &__role,
  &__name {
    h1 {
      font-weight: normal;
      text-transform: uppercase;
      white-space: pre;
    }
  }
  &__role {
    h1 {
      color: #fff;
      font-weight: normal;
      opacity: 0.5;
    }
  }
  &__name {
    h1 {
      font-size: 4.5rem;
      font-size: clamp(2rem, 3vw, 4.5rem);
      color: #fff;
    }
  }
  &__bio {
    color: var(--text-light);
    font-family: var(--ff-header);
    line-height: 1.78;
  }
}

@include media("<desktop") {
  .crews {
    &__item {
      align-items: center;
    }
  }
}
