@import "../../../styles/import.scss";

.sub--header {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: fit-content;
  position: absolute;
  left: 13.4%;
  top: 16.5%;
  gap: 0.5rem;

  div {
    z-index: 2;
  }

  h3 {
    letter-spacing: 4.73px;
    font-size: 2rem;
    font-size: clamp(1.3rem, 3vw, 2rem);
    white-space: pre;
  }

  span {
    opacity: 0.25;
    color: #fff;
    font-size: 2rem;
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: bold;
  }
}

@include media("<desktop") {
  .sub--header {
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
  }

  h3 {
    letter-spacing: 2px;
  }
}
