@import "@/styles/import.scss";

.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
  &:hover {
    .nav-arrows {
      opacity: 1;
    }
  }

  .nav-arrows {
    bottom: 60px;
    opacity: 0;
    top: 60px;

    &-item {
      height: 80%;
      padding-top: 1rem;
    }
  }
}
.nav-arrows {
  opacity: 1 !important;
}
