@import "@/styles/import.scss";

.v-menu__content {
  right: 3.65rem !important;
  top: 3rem !important;
  left: unset !important;
  width: 100px;
  border-radius: 0.2rem;
  position: absolute;

  @include media("<tablet") {
    right: 2.4rem !important;
    top: 3rem !important;
  }

  .v-list {
    padding: 0 !important;
  }

  .v-list-item {
    text-align: center;
    transition: $transition-350;
    cursor: pointer;
    font-weight: bold;

    a {
      width: 100%;
    }
    &:hover {
      background-color: var(--red) !important;
    }
  }
}
