
		.p-0 {
			padding: unset !important
		}

		.p-1 {
			padding: 4px !important
		}

		.p-2 {
			padding: 8px !important
		}

		.p-3 {
			padding: 12px !important
		}

		.p-4 {
			padding: 16px !important
		}

		.p-5 {
			padding: 20px !important
		}

		.p-6 {
			padding: 24px !important
		}

		.p-7 {
			padding: 28px !important
		}

		.p-8 {
			padding: 32px !important
		}

		.p-9 {
			padding: 36px !important
		}

		.p-10 {
			padding: 40px !important
		}

		.p-11 {
			padding: 44px !important
		}

		.p-12 {
			padding: 48px !important
		}

		.p-13 {
			padding: 52px !important
		}

		.p-14 {
			padding: 56px !important
		}

		.p-15 {
			padding: 60px !important
		}

		.p-16 {
			padding: 64px !important
		}

		.p-17 {
			padding: 68px !important
		}

		.p-18 {
			padding: 72px !important
		}

		.p-19 {
			padding: 76px !important
		}

		.p-20 {
			padding: 80px !important
		}

		.pt-0 {
			-webkit-padding-before: unset !important;
			padding-block-start: unset !important
		}

		.pt-1 {
			-webkit-padding-before: 4px !important;
			padding-block-start: 4px !important
		}

		.pt-2 {
			-webkit-padding-before: 8px !important;
			padding-block-start: 8px !important
		}

		.pt-3 {
			-webkit-padding-before: 12px !important;
			padding-block-start: 12px !important
		}

		.pt-4 {
			-webkit-padding-before: 16px !important;
			padding-block-start: 16px !important
		}

		.pt-5 {
			-webkit-padding-before: 20px !important;
			padding-block-start: 20px !important
		}

		.pt-6 {
			-webkit-padding-before: 24px !important;
			padding-block-start: 24px !important
		}

		.pt-7 {
			-webkit-padding-before: 28px !important;
			padding-block-start: 28px !important
		}

		.pt-8 {
			-webkit-padding-before: 32px !important;
			padding-block-start: 32px !important
		}

		.pt-9 {
			-webkit-padding-before: 36px !important;
			padding-block-start: 36px !important
		}

		.pt-10 {
			-webkit-padding-before: 40px !important;
			padding-block-start: 40px !important
		}

		.pt-11 {
			-webkit-padding-before: 44px !important;
			padding-block-start: 44px !important
		}

		.pt-12 {
			-webkit-padding-before: 48px !important;
			padding-block-start: 48px !important
		}

		.pt-13 {
			-webkit-padding-before: 52px !important;
			padding-block-start: 52px !important
		}

		.pt-14 {
			-webkit-padding-before: 56px !important;
			padding-block-start: 56px !important
		}

		.pt-15 {
			-webkit-padding-before: 60px !important;
			padding-block-start: 60px !important
		}

		.pt-16 {
			-webkit-padding-before: 64px !important;
			padding-block-start: 64px !important
		}

		.pt-17 {
			-webkit-padding-before: 68px !important;
			padding-block-start: 68px !important
		}

		.pt-18 {
			-webkit-padding-before: 72px !important;
			padding-block-start: 72px !important
		}

		.pt-19 {
			-webkit-padding-before: 76px !important;
			padding-block-start: 76px !important
		}

		.pt-20 {
			-webkit-padding-before: 80px !important;
			padding-block-start: 80px !important
		}

		.pb-0 {
			-webkit-padding-after: unset !important;
			padding-block-end: unset !important
		}

		.pb-1 {
			-webkit-padding-after: 4px !important;
			padding-block-end: 4px !important
		}

		.pb-2 {
			-webkit-padding-after: 8px !important;
			padding-block-end: 8px !important
		}

		.pb-3 {
			-webkit-padding-after: 12px !important;
			padding-block-end: 12px !important
		}

		.pb-4 {
			-webkit-padding-after: 16px !important;
			padding-block-end: 16px !important
		}

		.pb-5 {
			-webkit-padding-after: 20px !important;
			padding-block-end: 20px !important
		}

		.pb-6 {
			-webkit-padding-after: 24px !important;
			padding-block-end: 24px !important
		}

		.pb-7 {
			-webkit-padding-after: 28px !important;
			padding-block-end: 28px !important
		}

		.pb-8 {
			-webkit-padding-after: 32px !important;
			padding-block-end: 32px !important
		}

		.pb-9 {
			-webkit-padding-after: 36px !important;
			padding-block-end: 36px !important
		}

		.pb-10 {
			-webkit-padding-after: 40px !important;
			padding-block-end: 40px !important
		}

		.pb-11 {
			-webkit-padding-after: 44px !important;
			padding-block-end: 44px !important
		}

		.pb-12 {
			-webkit-padding-after: 48px !important;
			padding-block-end: 48px !important
		}

		.pb-13 {
			-webkit-padding-after: 52px !important;
			padding-block-end: 52px !important
		}

		.pb-14 {
			-webkit-padding-after: 56px !important;
			padding-block-end: 56px !important
		}

		.pb-15 {
			-webkit-padding-after: 60px !important;
			padding-block-end: 60px !important
		}

		.pb-16 {
			-webkit-padding-after: 64px !important;
			padding-block-end: 64px !important
		}

		.pb-17 {
			-webkit-padding-after: 68px !important;
			padding-block-end: 68px !important
		}

		.pb-18 {
			-webkit-padding-after: 72px !important;
			padding-block-end: 72px !important
		}

		.pb-19 {
			-webkit-padding-after: 76px !important;
			padding-block-end: 76px !important
		}

		.pb-20 {
			-webkit-padding-after: 80px !important;
			padding-block-end: 80px !important
		}

		.ps-0 {
			-webkit-padding-start: unset !important;
			padding-inline-start: unset !important
		}

		.ps-1 {
			-webkit-padding-start: 4px !important;
			padding-inline-start: 4px !important
		}

		.ps-2 {
			-webkit-padding-start: 8px !important;
			padding-inline-start: 8px !important
		}

		.ps-3 {
			-webkit-padding-start: 12px !important;
			padding-inline-start: 12px !important
		}

		.ps-4 {
			-webkit-padding-start: 16px !important;
			padding-inline-start: 16px !important
		}

		.ps-5 {
			-webkit-padding-start: 20px !important;
			padding-inline-start: 20px !important
		}

		.ps-6 {
			-webkit-padding-start: 24px !important;
			padding-inline-start: 24px !important
		}

		.ps-7 {
			-webkit-padding-start: 28px !important;
			padding-inline-start: 28px !important
		}

		.ps-8 {
			-webkit-padding-start: 32px !important;
			padding-inline-start: 32px !important
		}

		.ps-9 {
			-webkit-padding-start: 36px !important;
			padding-inline-start: 36px !important
		}

		.ps-10 {
			-webkit-padding-start: 40px !important;
			padding-inline-start: 40px !important
		}

		.ps-11 {
			-webkit-padding-start: 44px !important;
			padding-inline-start: 44px !important
		}

		.ps-12 {
			-webkit-padding-start: 48px !important;
			padding-inline-start: 48px !important
		}

		.ps-13 {
			-webkit-padding-start: 52px !important;
			padding-inline-start: 52px !important
		}

		.ps-14 {
			-webkit-padding-start: 56px !important;
			padding-inline-start: 56px !important
		}

		.ps-15 {
			-webkit-padding-start: 60px !important;
			padding-inline-start: 60px !important
		}

		.ps-16 {
			-webkit-padding-start: 64px !important;
			padding-inline-start: 64px !important
		}

		.ps-17 {
			-webkit-padding-start: 68px !important;
			padding-inline-start: 68px !important
		}

		.ps-18 {
			-webkit-padding-start: 72px !important;
			padding-inline-start: 72px !important
		}

		.ps-19 {
			-webkit-padding-start: 76px !important;
			padding-inline-start: 76px !important
		}

		.ps-20 {
			-webkit-padding-start: 80px !important;
			padding-inline-start: 80px !important
		}

		.pe-0 {
			-webkit-padding-end: unset !important;
			padding-inline-end: unset !important
		}

		.pe-1 {
			-webkit-padding-end: 4px !important;
			padding-inline-end: 4px !important
		}

		.pe-2 {
			-webkit-padding-end: 8px !important;
			padding-inline-end: 8px !important
		}

		.pe-3 {
			-webkit-padding-end: 12px !important;
			padding-inline-end: 12px !important
		}

		.pe-4 {
			-webkit-padding-end: 16px !important;
			padding-inline-end: 16px !important
		}

		.pe-5 {
			-webkit-padding-end: 20px !important;
			padding-inline-end: 20px !important
		}

		.pe-6 {
			-webkit-padding-end: 24px !important;
			padding-inline-end: 24px !important
		}

		.pe-7 {
			-webkit-padding-end: 28px !important;
			padding-inline-end: 28px !important
		}

		.pe-8 {
			-webkit-padding-end: 32px !important;
			padding-inline-end: 32px !important
		}

		.pe-9 {
			-webkit-padding-end: 36px !important;
			padding-inline-end: 36px !important
		}

		.pe-10 {
			-webkit-padding-end: 40px !important;
			padding-inline-end: 40px !important
		}

		.pe-11 {
			-webkit-padding-end: 44px !important;
			padding-inline-end: 44px !important
		}

		.pe-12 {
			-webkit-padding-end: 48px !important;
			padding-inline-end: 48px !important
		}

		.pe-13 {
			-webkit-padding-end: 52px !important;
			padding-inline-end: 52px !important
		}

		.pe-14 {
			-webkit-padding-end: 56px !important;
			padding-inline-end: 56px !important
		}

		.pe-15 {
			-webkit-padding-end: 60px !important;
			padding-inline-end: 60px !important
		}

		.pe-16 {
			-webkit-padding-end: 64px !important;
			padding-inline-end: 64px !important
		}

		.pe-17 {
			-webkit-padding-end: 68px !important;
			padding-inline-end: 68px !important
		}

		.pe-18 {
			-webkit-padding-end: 72px !important;
			padding-inline-end: 72px !important
		}

		.pe-19 {
			-webkit-padding-end: 76px !important;
			padding-inline-end: 76px !important
		}

		.pe-20 {
			-webkit-padding-end: 80px !important;
			padding-inline-end: 80px !important
		}

		.px-0 {
			-webkit-padding-end: unset !important;
			-webkit-padding-start: unset !important;
			padding-inline-end: unset !important;
			padding-inline-start: unset !important
		}

		.px-1 {
			-webkit-padding-end: 4px !important;
			-webkit-padding-start: 4px !important;
			padding-inline-end: 4px !important;
			padding-inline-start: 4px !important
		}

		.px-2 {
			-webkit-padding-end: 8px !important;
			-webkit-padding-start: 8px !important;
			padding-inline-end: 8px !important;
			padding-inline-start: 8px !important
		}

		.px-3 {
			-webkit-padding-end: 12px !important;
			-webkit-padding-start: 12px !important;
			padding-inline-end: 12px !important;
			padding-inline-start: 12px !important
		}

		.px-4 {
			-webkit-padding-end: 16px !important;
			-webkit-padding-start: 16px !important;
			padding-inline-end: 16px !important;
			padding-inline-start: 16px !important
		}

		.px-5 {
			-webkit-padding-end: 20px !important;
			-webkit-padding-start: 20px !important;
			padding-inline-end: 20px !important;
			padding-inline-start: 20px !important
		}

		.px-6 {
			-webkit-padding-end: 24px !important;
			-webkit-padding-start: 24px !important;
			padding-inline-end: 24px !important;
			padding-inline-start: 24px !important
		}

		.px-7 {
			-webkit-padding-end: 28px !important;
			-webkit-padding-start: 28px !important;
			padding-inline-end: 28px !important;
			padding-inline-start: 28px !important
		}

		.px-8 {
			-webkit-padding-end: 32px !important;
			-webkit-padding-start: 32px !important;
			padding-inline-end: 32px !important;
			padding-inline-start: 32px !important
		}

		.px-9 {
			-webkit-padding-end: 36px !important;
			-webkit-padding-start: 36px !important;
			padding-inline-end: 36px !important;
			padding-inline-start: 36px !important
		}

		.px-10 {
			-webkit-padding-end: 40px !important;
			-webkit-padding-start: 40px !important;
			padding-inline-end: 40px !important;
			padding-inline-start: 40px !important
		}

		.px-11 {
			-webkit-padding-end: 44px !important;
			-webkit-padding-start: 44px !important;
			padding-inline-end: 44px !important;
			padding-inline-start: 44px !important
		}

		.px-12 {
			-webkit-padding-end: 48px !important;
			-webkit-padding-start: 48px !important;
			padding-inline-end: 48px !important;
			padding-inline-start: 48px !important
		}

		.px-13 {
			-webkit-padding-end: 52px !important;
			-webkit-padding-start: 52px !important;
			padding-inline-end: 52px !important;
			padding-inline-start: 52px !important
		}

		.px-14 {
			-webkit-padding-end: 56px !important;
			-webkit-padding-start: 56px !important;
			padding-inline-end: 56px !important;
			padding-inline-start: 56px !important
		}

		.px-15 {
			-webkit-padding-end: 60px !important;
			-webkit-padding-start: 60px !important;
			padding-inline-end: 60px !important;
			padding-inline-start: 60px !important
		}

		.px-16 {
			-webkit-padding-end: 64px !important;
			-webkit-padding-start: 64px !important;
			padding-inline-end: 64px !important;
			padding-inline-start: 64px !important
		}

		.px-17 {
			-webkit-padding-end: 68px !important;
			-webkit-padding-start: 68px !important;
			padding-inline-end: 68px !important;
			padding-inline-start: 68px !important
		}

		.px-18 {
			-webkit-padding-end: 72px !important;
			-webkit-padding-start: 72px !important;
			padding-inline-end: 72px !important;
			padding-inline-start: 72px !important
		}

		.px-19 {
			-webkit-padding-end: 76px !important;
			-webkit-padding-start: 76px !important;
			padding-inline-end: 76px !important;
			padding-inline-start: 76px !important
		}

		.px-20 {
			-webkit-padding-end: 80px !important;
			-webkit-padding-start: 80px !important;
			padding-inline-end: 80px !important;
			padding-inline-start: 80px !important
		}

		.py-0 {
			-webkit-padding-after: unset !important;
			-webkit-padding-before: unset !important;
			padding-block-end: unset !important;
			padding-block-start: unset !important
		}

		.py-1 {
			-webkit-padding-after: 4px !important;
			-webkit-padding-before: 4px !important;
			padding-block-end: 4px !important;
			padding-block-start: 4px !important
		}

		.py-2 {
			-webkit-padding-after: 8px !important;
			-webkit-padding-before: 8px !important;
			padding-block-end: 8px !important;
			padding-block-start: 8px !important
		}

		.py-3 {
			-webkit-padding-after: 12px !important;
			-webkit-padding-before: 12px !important;
			padding-block-end: 12px !important;
			padding-block-start: 12px !important
		}

		.py-4 {
			-webkit-padding-after: 16px !important;
			-webkit-padding-before: 16px !important;
			padding-block-end: 16px !important;
			padding-block-start: 16px !important
		}

		.py-5 {
			-webkit-padding-after: 20px !important;
			-webkit-padding-before: 20px !important;
			padding-block-end: 20px !important;
			padding-block-start: 20px !important
		}

		.py-6 {
			-webkit-padding-after: 24px !important;
			-webkit-padding-before: 24px !important;
			padding-block-end: 24px !important;
			padding-block-start: 24px !important
		}

		.py-7 {
			-webkit-padding-after: 28px !important;
			-webkit-padding-before: 28px !important;
			padding-block-end: 28px !important;
			padding-block-start: 28px !important
		}

		.py-8 {
			-webkit-padding-after: 32px !important;
			-webkit-padding-before: 32px !important;
			padding-block-end: 32px !important;
			padding-block-start: 32px !important
		}

		.py-9 {
			-webkit-padding-after: 36px !important;
			-webkit-padding-before: 36px !important;
			padding-block-end: 36px !important;
			padding-block-start: 36px !important
		}

		.py-10 {
			-webkit-padding-after: 40px !important;
			-webkit-padding-before: 40px !important;
			padding-block-end: 40px !important;
			padding-block-start: 40px !important
		}

		.py-11 {
			-webkit-padding-after: 44px !important;
			-webkit-padding-before: 44px !important;
			padding-block-end: 44px !important;
			padding-block-start: 44px !important
		}

		.py-12 {
			-webkit-padding-after: 48px !important;
			-webkit-padding-before: 48px !important;
			padding-block-end: 48px !important;
			padding-block-start: 48px !important
		}

		.py-13 {
			-webkit-padding-after: 52px !important;
			-webkit-padding-before: 52px !important;
			padding-block-end: 52px !important;
			padding-block-start: 52px !important
		}

		.py-14 {
			-webkit-padding-after: 56px !important;
			-webkit-padding-before: 56px !important;
			padding-block-end: 56px !important;
			padding-block-start: 56px !important
		}

		.py-15 {
			-webkit-padding-after: 60px !important;
			-webkit-padding-before: 60px !important;
			padding-block-end: 60px !important;
			padding-block-start: 60px !important
		}

		.py-16 {
			-webkit-padding-after: 64px !important;
			-webkit-padding-before: 64px !important;
			padding-block-end: 64px !important;
			padding-block-start: 64px !important
		}

		.py-17 {
			-webkit-padding-after: 68px !important;
			-webkit-padding-before: 68px !important;
			padding-block-end: 68px !important;
			padding-block-start: 68px !important
		}

		.py-18 {
			-webkit-padding-after: 72px !important;
			-webkit-padding-before: 72px !important;
			padding-block-end: 72px !important;
			padding-block-start: 72px !important
		}

		.py-19 {
			-webkit-padding-after: 76px !important;
			-webkit-padding-before: 76px !important;
			padding-block-end: 76px !important;
			padding-block-start: 76px !important
		}

		.py-20 {
			-webkit-padding-after: 80px !important;
			-webkit-padding-before: 80px !important;
			padding-block-end: 80px !important;
			padding-block-start: 80px !important
		}

		.m-auto {
			margin: auto !important
		}

		.m-0 {
			margin: unset !important
		}

		.m-1 {
			margin: 4px !important
		}

		.m-2 {
			margin: 8px !important
		}

		.m-3 {
			margin: 12px !important
		}

		.m-4 {
			margin: 16px !important
		}

		.m-5 {
			margin: 20px !important
		}

		.m-6 {
			margin: 24px !important
		}

		.m-7 {
			margin: 28px !important
		}

		.m-8 {
			margin: 32px !important
		}

		.m-9 {
			margin: 36px !important
		}

		.m-10 {
			margin: 40px !important
		}

		.m-11 {
			margin: 44px !important
		}

		.m-12 {
			margin: 48px !important
		}

		.m-13 {
			margin: 52px !important
		}

		.m-14 {
			margin: 56px !important
		}

		.m-15 {
			margin: 60px !important
		}

		.m-16 {
			margin: 64px !important
		}

		.m-17 {
			margin: 68px !important
		}

		.m-18 {
			margin: 72px !important
		}

		.m-19 {
			margin: 76px !important
		}

		.m-20 {
			margin: 80px !important
		}

		.mt-0 {
			-webkit-margin-before: unset !important;
			margin-block-start: unset !important
		}

		.mt-1 {
			-webkit-margin-before: 4px !important;
			margin-block-start: 4px !important
		}

		.mt-2 {
			-webkit-margin-before: 8px !important;
			margin-block-start: 8px !important
		}

		.mt-3 {
			-webkit-margin-before: 12px !important;
			margin-block-start: 12px !important
		}

		.mt-4 {
			-webkit-margin-before: 16px !important;
			margin-block-start: 16px !important
		}

		.mt-5 {
			-webkit-margin-before: 20px !important;
			margin-block-start: 20px !important
		}

		.mt-6 {
			-webkit-margin-before: 24px !important;
			margin-block-start: 24px !important
		}

		.mt-7 {
			-webkit-margin-before: 28px !important;
			margin-block-start: 28px !important
		}

		.mt-8 {
			-webkit-margin-before: 32px !important;
			margin-block-start: 32px !important
		}

		.mt-9 {
			-webkit-margin-before: 36px !important;
			margin-block-start: 36px !important
		}

		.mt-10 {
			-webkit-margin-before: 40px !important;
			margin-block-start: 40px !important
		}

		.mt-11 {
			-webkit-margin-before: 44px !important;
			margin-block-start: 44px !important
		}

		.mt-12 {
			-webkit-margin-before: 48px !important;
			margin-block-start: 48px !important
		}

		.mt-13 {
			-webkit-margin-before: 52px !important;
			margin-block-start: 52px !important
		}

		.mt-14 {
			-webkit-margin-before: 56px !important;
			margin-block-start: 56px !important
		}

		.mt-15 {
			-webkit-margin-before: 60px !important;
			margin-block-start: 60px !important
		}

		.mt-16 {
			-webkit-margin-before: 64px !important;
			margin-block-start: 64px !important
		}

		.mt-17 {
			-webkit-margin-before: 68px !important;
			margin-block-start: 68px !important
		}

		.mt-18 {
			-webkit-margin-before: 72px !important;
			margin-block-start: 72px !important
		}

		.mt-19 {
			-webkit-margin-before: 76px !important;
			margin-block-start: 76px !important
		}

		.mt-20 {
			-webkit-margin-before: 80px !important;
			margin-block-start: 80px !important
		}

		.mb-0 {
			-webkit-margin-after: unset !important;
			margin-block-end: unset !important
		}

		.mb-1 {
			-webkit-margin-after: 4px !important;
			margin-block-end: 4px !important
		}

		.mb-2 {
			-webkit-margin-after: 8px !important;
			margin-block-end: 8px !important
		}

		.mb-3 {
			-webkit-margin-after: 12px !important;
			margin-block-end: 12px !important
		}

		.mb-4 {
			-webkit-margin-after: 16px !important;
			margin-block-end: 16px !important
		}

		.mb-5 {
			-webkit-margin-after: 20px !important;
			margin-block-end: 20px !important
		}

		.mb-6 {
			-webkit-margin-after: 24px !important;
			margin-block-end: 24px !important
		}

		.mb-7 {
			-webkit-margin-after: 28px !important;
			margin-block-end: 28px !important
		}

		.mb-8 {
			-webkit-margin-after: 32px !important;
			margin-block-end: 32px !important
		}

		.mb-9 {
			-webkit-margin-after: 36px !important;
			margin-block-end: 36px !important
		}

		.mb-10 {
			-webkit-margin-after: 40px !important;
			margin-block-end: 40px !important
		}

		.mb-11 {
			-webkit-margin-after: 44px !important;
			margin-block-end: 44px !important
		}

		.mb-12 {
			-webkit-margin-after: 48px !important;
			margin-block-end: 48px !important
		}

		.mb-13 {
			-webkit-margin-after: 52px !important;
			margin-block-end: 52px !important
		}

		.mb-14 {
			-webkit-margin-after: 56px !important;
			margin-block-end: 56px !important
		}

		.mb-15 {
			-webkit-margin-after: 60px !important;
			margin-block-end: 60px !important
		}

		.mb-16 {
			-webkit-margin-after: 64px !important;
			margin-block-end: 64px !important
		}

		.mb-17 {
			-webkit-margin-after: 68px !important;
			margin-block-end: 68px !important
		}

		.mb-18 {
			-webkit-margin-after: 72px !important;
			margin-block-end: 72px !important
		}

		.mb-19 {
			-webkit-margin-after: 76px !important;
			margin-block-end: 76px !important
		}

		.mb-20 {
			-webkit-margin-after: 80px !important;
			margin-block-end: 80px !important
		}

		.ms-0 {
			-webkit-margin-start: unset !important;
			margin-inline-start: unset !important
		}

		.ms-1 {
			-webkit-margin-start: 4px !important;
			margin-inline-start: 4px !important
		}

		.ms-2 {
			-webkit-margin-start: 8px !important;
			margin-inline-start: 8px !important
		}

		.ms-3 {
			-webkit-margin-start: 12px !important;
			margin-inline-start: 12px !important
		}

		.ms-4 {
			-webkit-margin-start: 16px !important;
			margin-inline-start: 16px !important
		}

		.ms-5 {
			-webkit-margin-start: 20px !important;
			margin-inline-start: 20px !important
		}

		.ms-6 {
			-webkit-margin-start: 24px !important;
			margin-inline-start: 24px !important
		}

		.ms-7 {
			-webkit-margin-start: 28px !important;
			margin-inline-start: 28px !important
		}

		.ms-8 {
			-webkit-margin-start: 32px !important;
			margin-inline-start: 32px !important
		}

		.ms-9 {
			-webkit-margin-start: 36px !important;
			margin-inline-start: 36px !important
		}

		.ms-10 {
			-webkit-margin-start: 40px !important;
			margin-inline-start: 40px !important
		}

		.ms-11 {
			-webkit-margin-start: 44px !important;
			margin-inline-start: 44px !important
		}

		.ms-12 {
			-webkit-margin-start: 48px !important;
			margin-inline-start: 48px !important
		}

		.ms-13 {
			-webkit-margin-start: 52px !important;
			margin-inline-start: 52px !important
		}

		.ms-14 {
			-webkit-margin-start: 56px !important;
			margin-inline-start: 56px !important
		}

		.ms-15 {
			-webkit-margin-start: 60px !important;
			margin-inline-start: 60px !important
		}

		.ms-16 {
			-webkit-margin-start: 64px !important;
			margin-inline-start: 64px !important
		}

		.ms-17 {
			-webkit-margin-start: 68px !important;
			margin-inline-start: 68px !important
		}

		.ms-18 {
			-webkit-margin-start: 72px !important;
			margin-inline-start: 72px !important
		}

		.ms-19 {
			-webkit-margin-start: 76px !important;
			margin-inline-start: 76px !important
		}

		.ms-20 {
			-webkit-margin-start: 80px !important;
			margin-inline-start: 80px !important
		}

		.me-0 {
			-webkit-margin-end: unset !important;
			margin-inline-end: unset !important
		}

		.me-1 {
			-webkit-margin-end: 4px !important;
			margin-inline-end: 4px !important
		}

		.me-2 {
			-webkit-margin-end: 8px !important;
			margin-inline-end: 8px !important
		}

		.me-3 {
			-webkit-margin-end: 12px !important;
			margin-inline-end: 12px !important
		}

		.me-4 {
			-webkit-margin-end: 16px !important;
			margin-inline-end: 16px !important
		}

		.me-5 {
			-webkit-margin-end: 20px !important;
			margin-inline-end: 20px !important
		}

		.me-6 {
			-webkit-margin-end: 24px !important;
			margin-inline-end: 24px !important
		}

		.me-7 {
			-webkit-margin-end: 28px !important;
			margin-inline-end: 28px !important
		}

		.me-8 {
			-webkit-margin-end: 32px !important;
			margin-inline-end: 32px !important
		}

		.me-9 {
			-webkit-margin-end: 36px !important;
			margin-inline-end: 36px !important
		}

		.me-10 {
			-webkit-margin-end: 40px !important;
			margin-inline-end: 40px !important
		}

		.me-11 {
			-webkit-margin-end: 44px !important;
			margin-inline-end: 44px !important
		}

		.me-12 {
			-webkit-margin-end: 48px !important;
			margin-inline-end: 48px !important
		}

		.me-13 {
			-webkit-margin-end: 52px !important;
			margin-inline-end: 52px !important
		}

		.me-14 {
			-webkit-margin-end: 56px !important;
			margin-inline-end: 56px !important
		}

		.me-15 {
			-webkit-margin-end: 60px !important;
			margin-inline-end: 60px !important
		}

		.me-16 {
			-webkit-margin-end: 64px !important;
			margin-inline-end: 64px !important
		}

		.me-17 {
			-webkit-margin-end: 68px !important;
			margin-inline-end: 68px !important
		}

		.me-18 {
			-webkit-margin-end: 72px !important;
			margin-inline-end: 72px !important
		}

		.me-19 {
			-webkit-margin-end: 76px !important;
			margin-inline-end: 76px !important
		}

		.me-20 {
			-webkit-margin-end: 80px !important;
			margin-inline-end: 80px !important
		}

		.mx-auto {
			-webkit-margin-start: auto !important;
			-webkit-margin-end: auto !important;
			margin-inline-end: auto !important;
			margin-inline-start: auto !important
		}

		.mx-0 {
			-webkit-margin-start: unset !important;
			-webkit-margin-end: unset !important;
			margin-inline-end: unset !important;
			margin-inline-start: unset !important
		}

		.mx-1 {
			-webkit-margin-start: 4px !important;
			-webkit-margin-end: 4px !important;
			margin-inline-end: 4px !important;
			margin-inline-start: 4px !important
		}

		.mx-2 {
			-webkit-margin-start: 8px !important;
			-webkit-margin-end: 8px !important;
			margin-inline-end: 8px !important;
			margin-inline-start: 8px !important
		}

		.mx-3 {
			-webkit-margin-start: 12px !important;
			-webkit-margin-end: 12px !important;
			margin-inline-end: 12px !important;
			margin-inline-start: 12px !important
		}

		.mx-4 {
			-webkit-margin-start: 16px !important;
			-webkit-margin-end: 16px !important;
			margin-inline-end: 16px !important;
			margin-inline-start: 16px !important
		}

		.mx-5 {
			-webkit-margin-start: 20px !important;
			-webkit-margin-end: 20px !important;
			margin-inline-end: 20px !important;
			margin-inline-start: 20px !important
		}

		.mx-6 {
			-webkit-margin-start: 24px !important;
			-webkit-margin-end: 24px !important;
			margin-inline-end: 24px !important;
			margin-inline-start: 24px !important
		}

		.mx-7 {
			-webkit-margin-start: 28px !important;
			-webkit-margin-end: 28px !important;
			margin-inline-end: 28px !important;
			margin-inline-start: 28px !important
		}

		.mx-8 {
			-webkit-margin-start: 32px !important;
			-webkit-margin-end: 32px !important;
			margin-inline-end: 32px !important;
			margin-inline-start: 32px !important
		}

		.mx-9 {
			-webkit-margin-start: 36px !important;
			-webkit-margin-end: 36px !important;
			margin-inline-end: 36px !important;
			margin-inline-start: 36px !important
		}

		.mx-10 {
			-webkit-margin-start: 40px !important;
			-webkit-margin-end: 40px !important;
			margin-inline-end: 40px !important;
			margin-inline-start: 40px !important
		}

		.mx-11 {
			-webkit-margin-start: 44px !important;
			-webkit-margin-end: 44px !important;
			margin-inline-end: 44px !important;
			margin-inline-start: 44px !important
		}

		.mx-12 {
			-webkit-margin-start: 48px !important;
			-webkit-margin-end: 48px !important;
			margin-inline-end: 48px !important;
			margin-inline-start: 48px !important
		}

		.mx-13 {
			-webkit-margin-start: 52px !important;
			-webkit-margin-end: 52px !important;
			margin-inline-end: 52px !important;
			margin-inline-start: 52px !important
		}

		.mx-14 {
			-webkit-margin-start: 56px !important;
			-webkit-margin-end: 56px !important;
			margin-inline-end: 56px !important;
			margin-inline-start: 56px !important
		}

		.mx-15 {
			-webkit-margin-start: 60px !important;
			-webkit-margin-end: 60px !important;
			margin-inline-end: 60px !important;
			margin-inline-start: 60px !important
		}

		.mx-16 {
			-webkit-margin-start: 64px !important;
			-webkit-margin-end: 64px !important;
			margin-inline-end: 64px !important;
			margin-inline-start: 64px !important
		}

		.mx-17 {
			-webkit-margin-start: 68px !important;
			-webkit-margin-end: 68px !important;
			margin-inline-end: 68px !important;
			margin-inline-start: 68px !important
		}

		.mx-18 {
			-webkit-margin-start: 72px !important;
			-webkit-margin-end: 72px !important;
			margin-inline-end: 72px !important;
			margin-inline-start: 72px !important
		}

		.mx-19 {
			-webkit-margin-start: 76px !important;
			-webkit-margin-end: 76px !important;
			margin-inline-end: 76px !important;
			margin-inline-start: 76px !important
		}

		.mx-20 {
			-webkit-margin-start: 80px !important;
			-webkit-margin-end: 80px !important;
			margin-inline-end: 80px !important;
			margin-inline-start: 80px !important
		}

		.my-auto {
			-webkit-margin-before: auto !important;
			-webkit-margin-after: auto !important;
			margin-block-end: auto !important;
			margin-block-start: auto !important
		}

		.my-0 {
			-webkit-margin-before: unset !important;
			-webkit-margin-after: unset !important;
			margin-block-end: unset !important;
			margin-block-start: unset !important
		}

		.my-1 {
			-webkit-margin-before: 4px !important;
			-webkit-margin-after: 4px !important;
			margin-block-end: 4px !important;
			margin-block-start: 4px !important
		}

		.my-2 {
			-webkit-margin-before: 8px !important;
			-webkit-margin-after: 8px !important;
			margin-block-end: 8px !important;
			margin-block-start: 8px !important
		}

		.my-3 {
			-webkit-margin-before: 12px !important;
			-webkit-margin-after: 12px !important;
			margin-block-end: 12px !important;
			margin-block-start: 12px !important
		}

		.my-4 {
			-webkit-margin-before: 16px !important;
			-webkit-margin-after: 16px !important;
			margin-block-end: 16px !important;
			margin-block-start: 16px !important
		}

		.my-5 {
			-webkit-margin-before: 20px !important;
			-webkit-margin-after: 20px !important;
			margin-block-end: 20px !important;
			margin-block-start: 20px !important
		}

		.my-6 {
			-webkit-margin-before: 24px !important;
			-webkit-margin-after: 24px !important;
			margin-block-end: 24px !important;
			margin-block-start: 24px !important
		}

		.my-7 {
			-webkit-margin-before: 28px !important;
			-webkit-margin-after: 28px !important;
			margin-block-end: 28px !important;
			margin-block-start: 28px !important
		}

		.my-8 {
			-webkit-margin-before: 32px !important;
			-webkit-margin-after: 32px !important;
			margin-block-end: 32px !important;
			margin-block-start: 32px !important
		}

		.my-9 {
			-webkit-margin-before: 36px !important;
			-webkit-margin-after: 36px !important;
			margin-block-end: 36px !important;
			margin-block-start: 36px !important
		}

		.my-10 {
			-webkit-margin-before: 40px !important;
			-webkit-margin-after: 40px !important;
			margin-block-end: 40px !important;
			margin-block-start: 40px !important
		}

		.my-11 {
			-webkit-margin-before: 44px !important;
			-webkit-margin-after: 44px !important;
			margin-block-end: 44px !important;
			margin-block-start: 44px !important
		}

		.my-12 {
			-webkit-margin-before: 48px !important;
			-webkit-margin-after: 48px !important;
			margin-block-end: 48px !important;
			margin-block-start: 48px !important
		}

		.my-13 {
			-webkit-margin-before: 52px !important;
			-webkit-margin-after: 52px !important;
			margin-block-end: 52px !important;
			margin-block-start: 52px !important
		}

		.my-14 {
			-webkit-margin-before: 56px !important;
			-webkit-margin-after: 56px !important;
			margin-block-end: 56px !important;
			margin-block-start: 56px !important
		}

		.my-15 {
			-webkit-margin-before: 60px !important;
			-webkit-margin-after: 60px !important;
			margin-block-end: 60px !important;
			margin-block-start: 60px !important
		}

		.my-16 {
			-webkit-margin-before: 64px !important;
			-webkit-margin-after: 64px !important;
			margin-block-end: 64px !important;
			margin-block-start: 64px !important
		}

		.my-17 {
			-webkit-margin-before: 68px !important;
			-webkit-margin-after: 68px !important;
			margin-block-end: 68px !important;
			margin-block-start: 68px !important
		}

		.my-18 {
			-webkit-margin-before: 72px !important;
			-webkit-margin-after: 72px !important;
			margin-block-end: 72px !important;
			margin-block-start: 72px !important
		}

		.my-19 {
			-webkit-margin-before: 76px !important;
			-webkit-margin-after: 76px !important;
			margin-block-end: 76px !important;
			margin-block-start: 76px !important
		}

		.my-20 {
			-webkit-margin-before: 80px !important;
			-webkit-margin-after: 80px !important;
			margin-block-end: 80px !important;
			margin-block-start: 80px !important
		}

		.min-h-100vh {
			min-height: 100vh !important
		}

		.min-h-500 {
			min-height: 500px !important
		}

		.min-h-1000 {
			min-height: 1000px !important
		}

		.max-h-100vh {
			max-height: 100vh !important
		}

		.max-h-500 {
			max-height: 500px !important
		}

		.max-h-1000 {
			max-height: 1000px !important
		}

		.max-w-100vw {
			max-width: 100vw !important
		}

		.max-w-1 {
			max-width: 1366px !important
		}

		.max-w-2 {
			max-width: 683px !important
		}