.v-image__placeholder {
  display: flex !important;
  // for circular on loading cards
}

.v-responsive {
  flex: unset !important;
} // for stars image, fixes width

.v-responsive__content {
  flex: unset !important;
  max-width: unset !important;
}

.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
  .theme--dark & {
    font-family: var(--ff-header) !important;
  }
}

.v-tabs > .v-tabs-bar .v-tab--active {
  .theme--dark & {
    font-family: var(--ff-header) !important;
    transform: scale(1.05);
    transition: $transition-350;
  }
}
.theme--dark.v-tabs > .v-tabs-bar {
  background-color: transparent !important;
}
.theme--light.v-tabs-items {
  background-color: transparent !important;
}

.v-navigation-drawer {
  z-index: 100;
}

.v-application ul {
  padding: 0 !important;
}

.v-dialog > * {
  z-index: 10;
}
.v-toolbar {
  background: black !important;
  padding: 0 1rem;
}
.v-toolbar__content {
  height: 60px !important;
}
.v-progress-circular--indeterminate .v-progress-circular__overlay {
  color: red !important;
}
.theme--dark.v-card {
  background: var(--light-grey) !important;
}
.v-card > * {
  background: var(--light-grey) !important;
}
