* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-header);
}

#app {
  background-color: var(--v-background-base);
}

input,
button {
  appearance: none;
  border: none;
  border: none;
  background: none;
}
a {
  text-decoration: none;
}

ul,
li,
ol {
  cursor: pointer;
  list-style-type: none;
}
.anchors {
  color: rgba(255, 255, 255, 0.856) !important;
}

.router-link-exact-active {
  color: white !important;
  font-weight: bold;
  opacity: 1;
  position: relative;
  transition: $transition-250;

  &::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
    height: 100%;
    width: 5px;
    transition: $transition-250;
  }
}

.api__error {
  h2 {
    font-size: 1.2rem;
    font-size: clamp(1.2rem, 3vw, 1.7rem);
    text-align: center;
    white-space: pre;
  }
}

.error-wrapper {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  color: white;
  opacity: 0.5;
}
