* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-header);
}

input,
button {
  appearance: none;
  border: none;
  border: none;
  background: none;
}
a {
  text-decoration: none;
}

ul,
li,
ol {
  cursor: pointer;
  list-style-type: none;
}
