@import "../../styles/import.scss";
.theme--dark.v-tabs > .v-tabs-bar {
  background-color: transparent !important;
}
.theme--light.v-tabs-items {
  background-color: transparent !important;
}
.destinations {
  @include flexCenter;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 0.3rem;
  &__left {
    z-index: 1;
    width: 100%;
    max-width: 500px;
    @include flexCenter;
    flex-direction: column;
    gap: 4rem;
    min-height: 450px;

    .v-image {
      width: 100%;
      max-width: 445px;
      object-fit: cover;
      min-height: 450px;
    }
  }

  &__right {
    z-index: 1;
    @include flexCenter;
    flex-direction: column;
    color: white;
    width: 100%;
    max-width: 500px;
    min-height: 357px;
  }

  &__active {
    text-transform: uppercase;
    text-align: center;
    font-size: 4.5rem;
    font-size: clamp(2rem, 3vw, 4.5rem);
    letter-spacing: 0.2em;
    font-family: var(--ff-header);
  }
  &__text {
    p {
      color: var(--text-light);
    }
  }
  &__data {
    @include flexCenter;
    width: 100%;
    justify-content: space-evenly;
    text-transform: uppercase;
    position: relative;
    margin-top: 2rem;

    .grey-line {
      top: -1rem;
    }

    h5 {
      opacity: 0.6;
      font-weight: lighter;
      font-size: 1.2rem;
      font-size: clamp(0.9rem, 3vw, 1.2rem);
      color: var(--text-light);
      font-family: var(--text-header);
    }
    span {
      font-size: 1.5rem;
      font-size: clamp(1.5rem, 5vw, 1.5rem);
      font-family: var(--ff-text);
      font-weight: normal;
    }
  }
}

@include media("<desktop") {
  .destinations {
    flex-direction: column;
    padding: 0 2rem;
    gap: 1.5rem;

    &__left {
      .v-image {
        min-height: 311px;
      }
    }

    &__active {
      text-align: center;
      line-height: 7rem;
    }

    &__data {
      padding-bottom: 5rem;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
  }
}

@include media(">mobile") {
  .destinations {
    &__left {
      .v-image {
        min-height: 445px;
      }
    }
  }
}
