@import "../../styles/import.scss";
.theme--dark.v-tabs > .v-tabs-bar {
  background-color: transparent !important;
}
.theme--light.v-tabs-items {
  background-color: transparent !important;
}
.destinations {
  @include flexCenter;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  &__left {
    z-index: 1;
    width: 100%;
    max-width: 500px;
    @include flexCenter;
    flex-direction: column;
    gap: 4rem;
    min-height: 450px;

    .v-image {
      width: 100%;
      max-width: 445px;
      object-fit: cover;
      min-height: 450px;
    }
  }
  &__header {
    letter-spacing: 4.73px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 100%;
    @include flexCenter;
    gap: 1rem;

    span {
      opacity: 0.25;
      letter-spacing: 4.73px;
      color: #fff;
      font-size: 1.8rem;
      min-width: 40px;
      font-weight: bold;
    }
  }
  &__right {
    z-index: 1;
    @include flexCenter;
    flex-direction: column;
    color: white;
    width: 100%;
    max-width: 500px;
    min-height: 357px;
  }

  &__active {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;
    font-size: clamp(2rem, 3vw, 3.5rem);
    letter-spacing: 0.2em;
    font-family: var(--ff-header);
    line-height: 10rem;
  }
  &__text {
    p {
      color: var(--text-light);
    }
  }
  &__data {
    @include flexCenter;
    width: 100%;
    justify-content: space-evenly;
    text-transform: uppercase;

    h5 {
      opacity: 0.6;
      font-weight: lighter;
      font-size: 0.9rem;
      color: var(--text-light);
      font-family: var(--text-header);
    }
    span {
      font-size: 1.5rem;
      font-family: var(--text-text);
    }
  }
}

@include media("<desktop") {
  .destinations {
    flex-direction: column;
    padding: 0 2rem;
    margin-top: 5rem;
    gap: 3rem;

    &__left {
      margin-top: 2rem;
      .v-image {
        min-height: 311px;
      }
    }
    &__active {
      line-height: 7rem;
    }
  }
}

@include media(">mobile") {
  .destinations {
    &__left {
      .v-image {
        min-height: 410px;
      }
    }
  }
}
