@import "@/styles/import.scss";

.search__bar--dialog {
  background: var(--black);
  padding-bottom: 2rem;
  .nav__left__logo {
    left: 50%;
    transform: translateX(-50%);
  }
}
.theme--dark.v-input input {
  padding-left: 1rem;
}
.v-input--is-focused .v-input__slot {
  color: red !important;
}

.v-label {
  padding-left: 1rem;
}
.v-label--active {
  color: red !important;
  font-size: 1.2rem !important;
}
.v-input__control {
  @include flexCenter;
}
.theme--dark.v-input input {
  padding-left: 0 !important;
  min-height: 43px !important;
  transition: $transition-250 !important;
}
.v-input__slot {
  margin-bottom: 0 !important;
  padding: 0 1rem !important;
}
.v-text-field--rounded > .v-input__control > .v-input__slot {
  transition: $transition-250 !important;
  &:focus-within {
    border: 1px solid var(--red) !important;
  }
}

.v-toolbar {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 80px !important;

  &__content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem !important;

    .v-icon {
      transition: $transition-350;
      &:hover {
        color: var(--red);
        transform: rotate(-90deg);
      }
    }
  }
}
.input__wrapper {
  .v-input__slot {
    width: 700px !important;
    background: #333333 !important;
    border-radius: 0.3rem !important;
    margin-top: 1rem;
    @include media("<tablet") {
      width: 300px !important;
    }
  }
  .v-input {
    max-height: unset !important;
  }
}

.search__results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  min-height: 100%;

  .v-card {
    min-height: 100% !important;
  }

  &__images {
    cursor: pointer;
    transition: $transition-350;
    overflow: hidden;
    border-radius: 0.3rem;
    @include media("<tablet") {
      max-height: 280px;
      max-width: 175px;
    }
    &:active {
      transform: scale(1.05);
      z-index: 2;
    }
    .v-image {
      min-width: 200px;

      max-height: 280px;
      min-height: 280px;
      border-radius: 0.2rem;
    }
  }
}
.card-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
