@import "@/styles/import.scss";

.nav {
  width: 100%;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 99;
  transition: $transition-350;
  transition-delay: 0.2s;
  &--active {
    background-color: black;
    transition: $transition-350;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    &__logo {
      width: 100px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 2rem;
  }
}
