@import "@/styles/import.scss";

.nav {
  width: 100%;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
  will-change: background-color;
  &--active {
    background-color: black;
    transition: $transition-350;
  }

  &:hover {
    background-color: black;
  }

  &__btn {
    cursor: pointer;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    @include media("<tablet") {
      gap: 1.5rem;
    }
    &__logo {
      width: 100px;
    }
    &__hamburger {
      font-size: 1.5rem !important;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 3rem;

    @include media("<tablet") {
      gap: 1.5rem;
    }
  }
}

.v-navigation-drawer__content {
  background: var(--black) !important;
}
.sidebar {
  &__user {
    width: 100%;
    @include flexCenter;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 2rem;
    will-change: background-color;

    &:hover,
    &:active {
      background-color: var(--red);
    }
    &--name {
      font-size: 1.05rem;
      font-size: clamp(1rem, 3vw, 1.1rem);
      text-transform: capitalize;
    }
    &--avatar {
      transition: $transition-250;
      .v-image {
        border-radius: 0.1rem;
      }
    }
  }

  &__notifications,
  &__downloads {
    transition: $transition-250;
    border-top: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    padding: 1.5rem 2rem;
    gap: 1rem;
    will-change: background-color;

    span {
      font-size: 1.05rem;
      font-size: clamp(0.9rem, 3vw, 1.05rem);
      letter-spacing: 0.08em;
    }
    .v-icon {
      font-size: 1.3rem !important;
    }
    &:hover,
    &:active {
      background-color: var(--red);
    }
  }

  &--links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: default;
    border-top: 2px solid black;
  }
  &__navlink {
    transition: $transition-250;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    will-change: background-color;

    span {
      text-transform: capitalize;
      opacity: 0.85;
      font-size: 1.4rem;
      font-size: clamp(1rem, 3vw, 1.4rem);
      font-weight: lighter;
      letter-spacing: 0.08em;
    }
    &:hover,
    &:active {
      background: rgba(128, 128, 128, 0.322);
    }
  }
}

.nav__right--settings {
  &__menu {
    left: 50% !important;
    top: unset !important;
    bottom: -6rem !important;
    transform: translateX(-50%);
    min-width: 100px !important;
    border-radius: 0.2rem !important;

    @include media("<tablet") {
      bottom: -7.1rem !important;
    }

    .v-list {
      padding: 0 !important;
      background: black !important;
    }

    .v-list-item {
      text-align: center;
      transition: $transition-350;
      cursor: pointer;
      font-weight: bold;
      will-change: background-color;

      a {
        width: 100%;
      }
      &:hover {
        background-color: var(--red) !important;
      }
    }
  }
}
