@import "@/styles/import.scss";

.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 100% !important;
}

.movie-modal {
  background: var(--dark-grey);
  color: white;
  width: 100%;
  height: 100%;
  max-width: 700px;
  position: relative;
  border-radius: 0 !important;

  &__close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 1.5rem;

    .v-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition-150;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      &:hover {
        background: var(--light-grey);
      }
    }
  }

  &__image--poster {
    width: 100%;
    padding: 1rem 0;

    .v-image {
      width: 100%;
      min-height: 400px;
      max-height: 400px;
      pointer-events: none;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.753) 0%,
          transparent 100%
        );
        z-index: 6;
      }

      .v-image__image--cover {
        background-size: contain !important;
      }

      @include media("<tablet") {
        min-height: 350px !important;
        max-height: 350px !important;
      }
    }
  }
  &__image--backdrop {
    position: absolute;
    z-index: -1;
    overflow: hidden !important;
    width: 100%;
    height: 100%;
    top: 0;
    .v-image {
      filter: blur(3px);
      .v-responsive__content {
        @include media("<tablet") {
          height: 305px !important;
        }
      }
    }
  }

  &__information {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2rem;
    gap: 0.6rem;

    @include media("<tablet") {
      padding: 0 1rem;
      transform: translateY(-45%);
    }

    &--name {
      h4 {
        font-size: 1.5rem;
        font-size: clamp(1rem, 7vw, 2rem);
        letter-spacing: 0.025em;
      }
    }
    &--data {
      @include flexCenter;
      gap: 1rem;
      opacity: 0.7;
      font-size: 0.9rem;
      font-size: clamp(0.9rem, 3vw, 1rem);
      font-weight: lighter;
      @include media("<tablet") {
        gap: 0.5rem;
        width: 100%;
        justify-content: space-between;
      }
      span {
        @include flexCenter;
      }

      span:first-child {
        color: rgb(62, 255, 14);
        font-weight: bold;
        letter-spacing: 0.02em;
      }
      span:nth-of-type(2) {
        font-weight: lighter;
      }
      span:nth-of-type(3) {
        text-transform: capitalize;
        font-weight: lighter;
      }

      span:nth-of-type(4),
      span:nth-of-type(5),
      span:nth-of-type(6) {
        font-weight: bold;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        background: grey;
        width: 33.5px;
        height: 20px;
        border-radius: 0.15rem;
        color: black;
        text-align: center;
      }
    }
    &--overview {
      p {
        font-weight: lighter;
        letter-spacing: 0.02em;
      }
    }
  }
}
