@import "@/styles/import.scss";
.slider {
  cursor: pointer;
  padding: 0 2rem;
  overflow: hidden;

  img {
    margin: 1rem 0;
    transition: $transition-350;
    border-radius: 0.3rem;
    width: 100%;
    &:hover {
      transform: scale(1.1);
      z-index: 2;
    }
  }

  &__header {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-size: clamp(0.75rem, 3vw, 1.1rem);
  }
}
