@import "@/styles/import.scss";

.slider__movie {
  .delete__btn {
    display: none !important;
  }
  .add__btn {
    display: block !important;
  }
}

.mylist {
  .add__btn {
    display: none !important;
  }
  .delete__btn {
    display: block !important;
  }
}

// ^^^ Checks for buttons on My List row or a normal row ^^^
.swiper-slide {
  height: unset !important;
}

.slider {
  overflow: hidden;
  margin-top: 1.5rem;
  will-change: auto;

  @include media("<tablet") {
    margin-top: 0;
  }
  &:hover {
    .nav-arrows {
      opacity: 1;
      visibility: visible;
    }
  }

  & {
    .v-card,
    .v-image {
      border-radius: 0.5rem !important;
    }
  }

  &__wrapper {
    padding: 0 1rem;
    position: relative;
    cursor: default;
  }

  .nav-arrows {
    opacity: 0;

    &-item {
      @include media("<mobile") {
        height: 100%;
        margin-top: 1.2rem;
      }
    }
  }

  .swiper-wrapper {
    align-items: stretch !important;
    margin: 1rem 0;
    min-height: 450px;
    cursor: default;
    z-index: 2;
    @include media("<desktop") {
      min-height: 200px;
    }
  }

  &__header {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-size: clamp(0.75rem, 7vw, 1.15rem);
    z-index: 1;
    position: relative;
  }

  &__movie {
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    cursor: default;
    transition: $transition-350 !important;
    will-change: transform;
    @include media("<tablet") {
      min-height: 200px;
    }

    &:hover,
    &:active {
      .v-image__image {
        transform: scale(1.075);
      }
      z-index: 5;
      .card__buttons {
        visibility: visible;
        opacity: 1;
        height: 45px;

        @include media("<desktop") {
          height: 26px;
        }
      }
    }

    .v-image {
      width: 100%;
      height: 100%;

      &__image {
        transition: $transition-350;
      }
    }

    .card__buttons {
      position: absolute;
      top: -0.05rem;
      left: 50.15%;
      transform: translateX(-50%);
      background-color: black !important;
      color: white;
      width: 101%;
      z-index: 99;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      border-bottom-left-radius: 0rem !important;
      border-bottom-right-radius: 0rem !important;
      height: 0px;
      opacity: 0;
      visibility: hidden;
      transition: $transition-350;
      will-change: height, opacity, visibility;

      &:active,
      &:hover {
        color: red;
      }

      @include media("<desktop") {
        color: white;
        opacity: 1;
        visibility: visible !important;
        right: 0;
        left: unset;
        transform: unset;
        height: 23px;
      }
    }
    .v-icon.v-icon {
      font-size: 1.6rem !important;
      @include media("<desktop") {
        font-size: 1rem !important;
      }
    }

    // Remove annoying Vuetify active effect on icons on image cards on the row
    .v-icon.v-icon::after {
      display: none !important;
    }
  }
}
