@import "@/styles/import.scss";

.slider__movie {
  .delete__btn {
    display: none !important;
  }
  .add__btn {
    display: block !important;
  }
}

.mylist {
  .add__btn {
    display: none !important;
  }
  .delete__btn {
    display: block !important;
  }
}

// Checks for buttons on My List row or a normal row ^^^
.slider {
  padding: 0 1rem;
  overflow: hidden;

  &__wrapper {
    position: relative;
    cursor: default;
  }

  &:hover {
    .nav-arrows {
      opacity: 1;
      visibility: visible;
    }
  }
  .nav-arrows {
    inset: 2.65rem -1rem;
    opacity: 0;

    &-item {
      @include media("<mobile") {
        height: 200px;
        inset: 2.6rem -1rem;
      }
    }
  }

  .swiper-wrapper {
    align-items: stretch !important;
    margin: 1rem 0;
    min-height: 450px;
    cursor: default;
    z-index: 2;

    @include media("<tablet") {
      min-height: 200px;
    }
    .slider__movie {
      position: relative;

      .card__buttons {
        position: absolute;
        z-index: 99;
        top: 0.5rem;
        right: 1rem;
        background-color: transparent !important;
        transition: $transition-350;
        display: block;
        width: 30px;
        height: 30px;

        @include media("<mobile") {
          top: 0;
          right: 0;
        }
        &:hover {
          transform: scale(1.3);
          color: red;
        }
      }
    }
  }

  .swiper-slide {
    height: unset !important;
  }

  &__movie {
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    cursor: pointer;
    transition: $transition-350 !important;

    .v-card {
      border-radius: 0.3rem !important;
    }

    @include media("<desktop") {
      min-height: 200px;
      &:hover {
        transform: unset !important;
      }
    }

    &:hover,
    &:active {
      transform: scale(1.05);
      z-index: 5;
    }
    .v-image {
      width: 100%;
      height: 100%;
    }
  }
}
.slider__header {
  text-transform: capitalize;
  font-size: 1.1rem;
  font-size: clamp(0.75rem, 7vw, 1.15rem);
  z-index: 1;
  position: relative;
}

.slider__wrapper {
  margin-top: 2rem;
  @include media("<tablet") {
    margin-top: 1rem;
  }
}
